<div class="container-fluid">
  <h1 align="center" class="sub-title">IST Collabers</h1>
  <div align="center">
    <div class="inner-addon left-addon search-box">
      <i class="glyphicon glyphicon-search"></i>
      <input type="text" id="search" placeholder="Search" autocomplete="off" class="form-control center-block" >
    </div>
  </div>
  <div class="flex-between">
    <% @users.each do |t| %>
            <div class="card">
                <div class="avatar">
                    <%= image_tag t.avatar.url(:thumb), class: "image-responsive" %>
                </div>
                <div class="content">
                    <p class="searchable">
                      <strong><%= t.name %></strong> <br>
                      <%= t.course %></p>
                    <%= link_to "Profile", user_path(t), class: "btn btn-default" %>
                </div>
            </div>
      <% end %>
  </div>
</div>
