<div class="container-fluid">
  <h1 align="center" class="sub-title">Projects</h1>
  <input type="text" id="search" autocomplete="off"class="center-block" >
  <div class="flex-between">
    <% @projects.each do |t| %>
            <div class="card">
                <div class="avatar">
                    <%= image_tag t.avatar.url(:thumb), class: "image-responsive" %>
                </div>
                <div class="content">
                    <p class="searchable">
                      <strong><%= t.title %></strong> <br>
                      Created by: <%= t.user.name %></p>
                    <%= link_to "Details", project_path(t), class: "btn btn-default" %>
                </div>
            </div>
      <% end %>
  </div>
</div>
