<div class="container-fluid">
  <h1 align="center" class="sub-title">My Projects</h1>
  <div align="center">
    <div class="inner-addon left-addon search-box">
    <i class="glyphicon glyphicon-search"></i>
    <input type="text" id="search" placeholder="Search" autocomplete="off" class="form-control center-block" >
    </div>
  </div>
  <div class="flex-between">
    <% @myProjects.each do |t| %>
            <div class="card proj">
              <div class="avatar">
                  <%= image_tag t.avatar.url(:thumb), class: "image-responsive" %>
              </div>
                <div class="content">
                    <p class="searchable">
                      <strong><%= t.title %></strong> <br>
                      Created by: <%= t.user.name %></p>
                    <%= link_to "Details", project_path(t), class: "btn btn-default" %>
                </div>
            </div>
      <% end %>
  </div>
</div>

<script type="text/javascript">

$(document).ready(function() {

  var timeoutID = null;

  function findMember(str) {
    $('.searchable').each(function(){
      var text = $(this).text().toLowerCase();

      if(text.search(str) < 0)
        $(this).parent().parent().fadeOut();
      else
        $(this).parent().parent().fadeIn();

    });
  }

  $('#search').keyup(function(e) {
    clearTimeout(timeoutID);
    timeoutID = setTimeout(findMember.bind(undefined, e.target.value.toLowerCase()), 500);
  });

});
</script>
