@import "bootstrap-sprockets";
@import "bootstrap";

$cor1: #009de0;
$cor2: #008c9e;
$cor3: #005f6b;
$cor4: #343838;
$cor5: #4CAF50;

body{
  background: #fff;
  font-family: 'Montserrat', sans-serif;
}

.img-md{
  max-width: 100px;
  box-sizing: border-box;
}

.row{
  max-width: 100%;
  margin-right: 0;
}

.event.card{
  background-color: #F6B352;
}

.org.card{
  background-color: #E71D36;
}

.proj.card{
  background-color: #8FBC94;
}

/*-----------------------------HOMEPAGE-----------------------------------*/
#new-profile{
   margin: left;
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
  box-sizing: border-box;
  padding: 75px 0 0;
  margin: 10px 10px 10px 10px;
}

#home{
  background: linear-gradient( rgba(100, 100, 155, 0.3), rgba(0, 0, 0, 0.3) ), asset-url("people.jpg");

  background-size: cover;
  background-position: center center;
}

.container-max{
  max-width: 500px;
}

#home, #signup{
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
  box-sizing: border-box;
  padding: 75px 0 0;
}


.home-title{
  color: $cor1;
  font-size: 130px;
  margin-bottom: 120px;
}

.home-panel{
  width: 300px;
  position: absolute;
  bottom: 20%;
  left: 50%;
  margin-left: -150px;
}

.home-logo{
  width: 100%;
  max-width: 720px;
  margin: 0 auto 0;
}

.home-button-LogIn {
    background-color: $cor1;
    float: left;
}

.home-button-SignUP {
    background-color: $cor5;
    float: right;
}
/*-----------------------------HOMEPAGE-------------------------------------*/

/*-----------------------------NEW PROFILE-----------------------------------*/
.new-signup-button {
  padding: 10px 25px;
  font-size: 200%;
 /* border-radius: 2em;*/
}

.new-title-sign-up{
  color: $cor4;
  //font-family: verdana;
  font-size: 300%;
}
/*-----------------------------NEW PROFILE-----------------------------------*/

/*-----------------------------EDIT PROFILE-----------------------------------*/
.edit-title-profile{
  color: $cor4;
  //font-family: verdana;
  font-size: 300%;
}

.edit-buttom-save{
  padding: 10px 25px;
  font-size: 200%;
  background-color: $cor5;
}
/*-----------------------------EDIT PROFILE-----------------------------------*/

/*-----------------------------NEW PROJECT-----------------------------------*/
.new-buttom-project{
  padding: 10px 25px;
  font-size: 150%;
}

.buttom-org-show{
  padding: 10px 25px;
}

.new-title-project{
    color: $cor4;
  //font-family: verdana;
  font-size: 300%;
}

.header{
  border-bottom: 3px solid #c0c0c0;
  height: 60px;
  padding: 5px;
}
/*-----------------------------NEW PROJECT-----------------------------------*/

/*-----------------------------DASHBOARD-----------------------------------*/
.img-small{
  width: 100px;
}

  .navbar-logo{
  float: left;
  height: 100%;
  padding: 5px;
  display: block;
  max-width: 150px;
}
/*-----------------------------DASHBOARD-----------------------------------*/

/*-----------------------------balloon-----------------------------------*/
.navigation{
  border-style: solid;

}

.form{
  background: rgba( 155, 155, 155, .65);
}

.new-profile-form{                          /* balloon Sign Up */
  background: rgba( 155, 155, 155, .65);
  margin: center;
  width: 60%;
}

.text-right-SignUp{
  color: $cor3;
  font-size: 130%;
  text-align: left;
}
.form-group p{
  text-align: left;
  color: $cor3;
  font-size: 130%;
}

/*-----------------------------balloon-----------------------------------*/

.user-name{
  float: right;
  font-size: 15px;
  line-height: 50px;
  margin-right: 15px;
}

.user-logo{
  max-width: 50px;
  max-height: 45px;
  border-radius: 50%;
  float: right;
}

.nav-links{
  float: right
}

@media screen and (max-width: 768px){
  .user-logo, .user-name{
    display: none;
  }
}

.src-image {
  display: none;
}

.card {
  overflow: hidden;
  position: relative;
  border: 1px solid #CCC;
  border-radius: 8px;
  text-align: center;
  padding: 0;
  background-color: #284c79;
  color: #f0f0f0;
  width: 200px;
  margin: 10px;
  padding: 5px;
}

.card .header-bg {
  /* This stretches the canvas across the entire hero unit */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  border-bottom: 1px #FFF solid;
  /* This positions the canvas under the text */
  z-index: 1;
}

.card .avatar {
  position: relative;
  margin-top: 15px;
  z-index: 100;
}

.card .avatar img {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid #f0f0f0;
  margin-bottom: 10px;
}

.users-users{
  font-style: italic;
  font-size: 45px;
  color:$cor1;
}

.profile{
  min-height: 355px;
  display: inline-block;
}
figcaption.ratings
{
    margin-top:200px;
    }
figcaption.ratings a
{
    color:#f1c40f;
    font-size:11px;
    }
figcaption.ratings a:hover
{
    color:#f39c12;
    text-decoration:none;
    }
.divider
{
    border-top:1px solid rgba(0,0,0,0.1);
    }
.emphasis
{
    border-top: 4px solid transparent;
    }
.emphasis:hover
{
    border-top: 4px solid #1abc9c;
    }
.emphasis h2
{
    margin-bottom:0;
    }
span.tags
{
    background: rgb(0, 157, 224);
    border-radius: 2px;
    color: #f5f5f5;
    font-weight: bold;
    padding: 2px 4px;
    }

    .typed-cursor{
        opacity: 1;
        -webkit-animation: blink 0.7s infinite;
        -moz-animation: blink 0.7s infinite;
        animation: blink 0.7s infinite;
    }
    @keyframes blink{
        0% { opacity:1; }
        50% { opacity:0; }
        100% { opacity:1; }
    }
    @-webkit-keyframes blink{
        0% { opacity:1; }
        50% { opacity:0; }
        100% { opacity:1; }
    }
    @-moz-keyframes blink{
        0% { opacity:1; }
        50% { opacity:0; }
        100% { opacity:1; }
    }

.type-container{
  width: 50%;
  margin: 0 auto;
}

.type-elem{
  color: #f0f0f0;
  left: 40%;
  font-size: 26px;
  font-weight: 900;
}

.flex-between{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.sub-title{
  color: $cor1;
  font-size: 60px;
  margin-bottom: 20px;
  font-weight: 900;
}

.search-box{
  width: 250px;
}


.token{
  float: left;
}

.token-input{
}
