@import "bootstrap-sprockets";
@import "bootstrap";

$cor1: #E71D36;
$cor2: #2EC4B6;
$cor3: #EFFFE9;
$cor4: #011627;

#home, #signup{
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
  box-sizing: border-box;
  padding: 75px 0 0;
}

#home{
  background-image: asset-url("people.jpg");
}

#signup{
  background-image: asset-url("books.jpg");
}

.home-title{
  color: #008080;
  font-size: 130px;
  margin-bottom: 120px;
}

.home-panel{
  width: 300px;
  position: absolute;
  bottom: 20%;
  left: 50%;
  margin-left: -150px;
}

.home-logo{
  width: 100%;
  max-width: 720px;
  margin: 0 auto 0;
}

.home-button-LogIn {
    background-color: #008CBA; /* Blue */
    float: left;
}

.home-button-SignUP {
    background-color: #4CAF50; /* Green */
    float: right;
}

.new-signup-button{
  padding: 10px 25px;
  font-size: 200%;
}

.new-title-sign-up{
  color: $cor2;
  //font-family: verdana;
  font-size: 300%;
}

.container{
  max-width: 500px;
}

.navigation{
  border-style: solid;

}

.img-small{
  width: 100px;
}

.form{
  background: rgba( 155, 155, 155, .65);
}

.form-group p{
  text-align: left;
  color: $cor2;
  font-size: 130%;
}