@import "bootstrap-sprockets";
@import "bootstrap";

$cor1: #009de0;
$cor2: #008c9e;
$cor3: #005f6b;
$cor4: #343838;
$cor5: #4CAF50;

body{
  background: #555;
}

#home, #signup{
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
  box-sizing: border-box;
  padding: 75px 0 0;
}

#home{
  background-image: asset-url("people.jpg");
}

.home-title{
  color: $cor1;
  font-size: 130px;
  margin-bottom: 120px;
}

.home-panel{
  width: 300px;
  position: absolute;
  bottom: 20%;
  left: 50%;
  margin-left: -150px;
}

.home-logo{
  width: 100%;
  max-width: 720px;
  margin: 0 auto 0;
}

.home-button-LogIn {
    background-color: $cor1;
    float: left;
}

.home-button-SignUP {
    background-color: $cor5;
    float: right;
}

.new-signup-button {
  padding: 10px 25px;
  font-size: 200%;
  background-color: $cor5;
}

.new-title-sign-up{
  color: $cor4;
  //font-family: verdana;
  font-size: 300%;
}

.edit-title-profile{
  color: $cor4;
  //font-family: verdana;
  font-size: 300%;
}

.edit-buttom-save{
  padding: 10px 25px;
  font-size: 200%;
  background-color: $cor5;
}

.container{
  max-width: 500px;
  border-radius: 2em;
}

.navigation{
  border-style: solid;

}

.img-small{
  width: 100px;
}

.form{
  background: rgba( 155, 155, 155, .65);
}

.form-group p{
  text-align: left;
  color: $cor3;
  font-size: 130%;
}