<div class="container-fluid">
  <h1 align="center" class="sub-title">Organizations</h1>
  <div align="center">
    <div class="inner-addon left-addon search-box">
      <i class="glyphicon glyphicon-search"></i>
      <input type="text" id="search" placeholder="Search" autocomplete="off" class="form-control center-block">
    </div>
  </div>
  <div class="flex-between">
    <% @organizations.each do |t| %>
        <div class="card org">
          <div class="avatar">
            <%= image_tag t.avatar.url(:thumb), class: "image-responsive" %>
          </div>
          <div class="content">
            <p class="searchable">
              <strong><%= t.title %></strong> <br>
              <%= t.description %></p>
            <%= link_to "Profile", organization_path(t), class: "btn btn-default" %>
          </div>
        </div>
      <% end %>
  </div>
</div>
